/*
 * Global add-ons
 */

* {
  box-sizing: border-box;
}

.body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.container {
  background-color: red;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
